* {
  font-family: 'Poppins';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9edf7;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1120px;
}
